<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/da3a01af99.js" crossorigin="anonymous"></script>
    <title>Netflix Clone</title>
</head>
<body>
    <!-- Nav heading -->
    <div class="fixed-div">
        <div class="parent-div">
            <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/netflix%20logo.png?raw=true"
                alt="netflix img" class="logo">
            <div class="dropdown">
                <span class="browse-el">Browse</span>
                <div class="dropdown-content">
                    <p>Home</p>
                    <p><a href='#dramas'>Tv shows</a></p>
                    <p>Movies</p>
                    <p><a href='#top-tv'>News & popular</a></p>
                    <p><a href="#list">My List</a></p>
                </div>
            </div>
        </div>
        <!-- notification nav -->
        <div class="float-op" style="float: right;">
            <div class="search"></div>
        </div>
        <div class="dropdown2" style="float:right;">
            <div class="dropbtn"></div>
            <div class="dropdown-content2">
                <div class="span-style"></div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/13reason-why.jpeg?raw=true"
                        alt="">
                    <p>Countinue Watching<br>
                        13 Reasons Why<br>
                        <span style="color:#2D2D2D">Today</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/after-life.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Afterlife Of The Party<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/control-zz.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Season<br>
                        Season 2 is ready to watch.<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/csInapp_112x63.png?raw=true"
                        alt="">
                    <p>Netflix Lookahead<br>
                        Explore what's coming soon<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/ijee.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Out Of My League<br>
                        <span style="color:#2D2D2D">5 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/monster-hunt.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Monster Hunt<br>
                        <span style="color:#2D2D2D">2 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/vivo.jpeg?raw=true"
                        alt="">
                    <p>New Arrival<br>
                        Vivo<br>
                        <span style="color:#2D2D2D">3 weeks ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/out-of-my-league.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Ije The Journey<br>
                        <span style="color:#2D2D2D">2 days ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/csInapp_112x63.png?raw=true"
                        alt="">
                    <p>Netflix Lookahead<br>
                        Explore what's coming soon<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/resort-to-love.jpeg?raw=true"
                        alt="">
                    <p>Reminder:New Arrival<br>
                        Resort to love<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
                <div class="dropdown-img">
                    <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/kissin-booth.jpeg?raw=true"
                        alt="">
                    <p>🛎 Reminder: New Arrival<br>
                        Kissing Booth 3<br>
                        <span style="color:#2D2D2D">1 day ago</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="user-img" style="float: right;">
            <img src="https://github.com/Chinemereem/Netflix-clone/blob/master/images/user.png?raw=true" alt="">
            <span class="span-icon"></span>
        </div>
    </div>

    <!-- image and logo -->
    <div class="between-img-div">
        <img src="https://raw.githubusercontent.com/Chinemereem/Netflix-clone/master/images/between-1.webp"
            class="between-img" alt="">
    </div>
    <div class="logo-and-text">
        <div class="titleWrapper"
            style="transform-origin: left bottom; transform: scale(1) translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms;">
            <div class="billboard-title">
                <img class="title-logo"
                    src="https://raw.githubusercontent.com/Chinemereem/Netflix-clone/master/images/netflixsvg.webp"
                    title="Between" alt="Between">
            </div>
        </div>
        <div class="info-wrapper"
            style="transform: translate3d(0px, 0px, 0px); transition-duration: 1300ms; transition-delay: 0ms; opacity: 1;">
            <div class="info-wrapper-fade" style="opacity: 1; transition-duration: 600ms; transition-delay: 200ms;">
                <div class="series-synopsis">After a mysterious disease kills every resident over 21 years old,<br>
                    survivors of a town must fend for<br> themselves when the government quarantines them.</div>
            </div>
            <button class="color-primary" tabindex="-1" type="button">
                <div class="ltr-1ksxkn9">
                    <div class="medium ltr-dguo2f" role="presentation">
                        <svg class="svg-radius" viewBox="0 0 24 24">
                            <path d="M6 4l15 8-15 8z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
                <div class="just-div" style="width:1rem"></div>
                <span class="info-btn">Play</span>
            </button></a>
            <button class="button-secondary" type="button">
                <div class="ltr">
                    <div class="medium"><svg class="svg-radius" viewBox="0 0 24 24">
                            <path
                                d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z"
                                fill="currentColor">
                            </path>
                        </svg></div>
                </div>
                <div class="more-info" style="width:1rem"></div>
                <span class="info-btn">More Info</span>
            </button>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div></span>
    </div>
    <!-- rating -->
    <div class="ratin-div" style="float: right;">
        <button aria-label="Replay" class="color-supplementary" type="button">
            <div class="small-div">
                <svg class="style-svg" viewBox="0 0 24 24">
                    <path
                        d="M20 12.35l1.919-1.371 1.162 1.627-4.08 2.915-4.082-2.915 1.162-1.627L18 12.349V12c0-3.87-3.13-7-7-7s-7 3.13-7 7 3.13 7 7 7c1.93 0 3.68-.79 4.94-2.06l1.42 1.42A8.954 8.954 0 0 1 11 21a9 9 0 1 1 9-9v.35z"
                        fill="currentColor">
                    </path>
                </svg>
            </div>
        </button>
        <span class="rating">
            <span class="maturity-number">16+</span>
        </span>
    </div>
    </div>
    <!-- drama collection -->
    <section class="all-drama">
        <% for (let i = 0; i < categorias.length; i++) { %>
        <div class="tv-dramas" id="dramas">
            <h2 class="tvd-h2"><%= categorias[i].nome %></h2>
            <div class="div-width">
                <div class="all-movie-div">
                    <% for (let j = 0; j < categorias[i].titulos.length; j++) { %>
                        <%- include('includes/card', {titulo: categorias[i].titulos[j]}) %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
        <div class="aror">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
        
      
        <footer>
            <div class="grid-container">
                <div class="grid-item">
                    <span><i class="fab fa-facebook-square"></i></i></span>
                    <span><i class="fab fa-instagram"></i></span>
                    <span><i class="fab fa-youtube"></i></span>
                    <p>Audio and Subtitle</p>
                    <p>Media Center</p>
                    <p>Privacy</p>
                    <p>Contact Us</p>
                    <p class="p-grid">Service code</p>
                    <p>&copy;1997-2021 Netflix, inc,(7cBab736-9ae4-4251-9ea9-cf9fdd09f7cc)</p>
                </div>
                <div class="grid-item">
                    <p>Audio Description</p>
                    <p>Investor Relations</p>
                    <p>Legal Notices</p>
                </div>
                <div class="grid-item">
                    <p>Help Center</p>
                    <p>Jobs</p>
                    <p>Cookie Preference</p>
                </div>
                <div class="grid-item">
                    <p>Gift Cards</p>
                    <p>Terms Of Use</p>
                    <p>Corperate Information</p>
                </div>
        </footer>
    </section>
</body>

</html>