<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de títulos</h1>
    <form method="post" action="/filmes">
        <label>Nome</label>
        <input type="text" name="nome"/>
        <br />

        <label>Descricao</label>
        <input type="text" name="descricao"/>
        <br />

        <label>Categoria</label>
        <input type="text" name="categoria"/>
        <br />
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>