<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME NOVA</h1>
    <a href="/filmes/adicionar">CLIQUE AQUI PARA ADD UM TITULO</a>
    <br/><hr><br/>
    <a href="/filmes">VISUALIZAR TODOS</a>
</body>
</html>